
%p
  %b Age:
  = @user.age
%p
  %b Login:
  = @user.login
%p
  %b Password:
  = @user.password
%p
  %b Email:
  = @user.email
%p
  %b Medecin:
  = @user.medecin
  
= link_to 'Edit', edit_user_path(@user)

= link_to 'Log out', users_path

= link_to 'Add IMC', new_imc_path

= link_to 'Show Vaccin', show_vaccin_user_path(@user)

#chartdisplay

%table
  %tr
    %th Date
    %th IMC
    %th Size
    %th Weight
    %th
    %th  
  - data = "["   
  - @imcs.each do |imc|
    %tr
      %td
        = imc.date
      %td   
        = sprintf("%.2f", imc.value)
      %td  
        = imc.taille   
      %td 
        = imc.poids
      %td= link_to 'delete', imc, method: :delete, data: { confirm: 'Are you sure?' }
      - data = data + "[#{imc.date.to_i}, #{imc.poids}], "
  - data = data[0..-2] + "]"  
 
  
%div{:id => 'dataforchart', :class => data}        
